{% extends "layout.jinja" %}
{% block content %}
<h1>Lecture 2</h1>
<h2>Enter your name</h2>
{% if flag == 0 %}
    <p> Enter your name, please</p>
{% endif %}

    <form action="{{url_for('smb')}}" method="post">
        <input name="name" type="text" autocomplete="off" placeholder="Enter you name">
        <button>Submit</button>
    </form>

<script>  
   document.addEventListener("DOMContentLoaded", function(){
    if({{flag}} == 0){
        document.querySelector("[name='name']").style.backgroundColor="#ffaaaa"
    } else {
        document.querySelector("[name='name']").style.backgroundColor="white"
    }
   });
</script>
{% endblock  %}