{% extends "layout.jinja" %}
{% block content %}
<h1>Lecture 3</h1>
{% if name %}
  <h2>Hello, {{name}}</h2>
{% else %}
  <h2>What's your name</h2> 
{% endif %}

<form method="POST">
    {{form.hidden_tag()}}
    {{form.name.label(class="form-label")}}
    {{form.name(autocomplete='off', class="form-control")}}
    <br>
    {{form.submit(class="btn btn-success")}}
</form>

{% endblock content %}